{:paths ["src"]
 :deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.clojure/clojure {:mvn/version "1.9.0"}}
 :aliases {:test {:extra-paths ["test"
                                ;; tests ran with test runner to test behavior:
                                "test-resources"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
